@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 240 29% 97%;
        --foreground: 210 11% 15%;
        --card: 240 29% 97%;
        --card-foreground: 210 11% 15%;
        --popover: 240 29% 97%;
        --popover-foreground: 210 11% 15%;
        --primary: 211 97% 25%;
        --primary-foreground: 240 29% 97%;
        --secondary: 210 14% 89%;
        --secondary-foreground: 210 11% 15%;
        --muted: 210 11% 71%;
        --muted-foreground: 210 11% 15%;
        --accent: 210 11% 71%;
        --accent-foreground: 210 11% 15%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 240 29% 97%;
        --border: 210 11% 71%;
        --input: 210 11% 71%;
        --ring: 211 97% 25%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --background: 210 11% 15%;
        --foreground: 240 29% 97%;
        --card: 210 11% 15%;
        --card-foreground: 240 29% 97%;
        --popover: 210 11% 15%;
        --popover-foreground: 240 29% 97%;
        --primary: 210 96% 33%;
        --primary-foreground: 240 29% 97%;
        --secondary: 0 0% 21%;
        --secondary-foreground: 240 29% 97%;
        --muted: 210 10% 23%;
        --muted-foreground: 240 29% 97%;
        --accent: 210 10% 23%;
        --accent-foreground: 240 29% 97%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 240 29% 97%;
        --border: 210 10% 23%;
        --input: 210 10% 23%;
        --ring: 210 96% 33%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
